@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html {
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Gloria Hallelujah', cursive;
}
/* global.css or tailwind.css */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; /* prevents scrolling & white spaces */
}
